<html>
	<head>
		<title>FiveZ Interface</title>
		<!-- Style Libraries -->
		<link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons'>
		<link rel="stylesheet" href="./assets/libraries/vuetify.min.css">
		<!-- Styles -->
		<link rel="stylesheet" href="./styles/character.css">
		<style>
			html {
				background-color: transparent !important;
				overflow-x: hidden;
				overflow-y: hidden;
				font-family: Verdana, Geneva, Tahoma, sans-serif;
			}
		</style>
	</head>
	<body>

		<!-- Character App -->
        <v-app id="FiveZ_Character" v-show="ShowMenu">
            <v-content>
                <div id="FiveZ_Character_Base">
                    <div id="FiveZ_Character_Header">
                        FiveZ<div style="font-size: 9px; font-weight: bold; font-family: Verdana; color: lightblue;">Scripted by Xander1998</div>
                        <br />
                        <v-tooltip left>
                            <v-btn slot="activator" rounded small color="orange" dark @click="ShowCreator = !ShowCreator"><v-icon>add</v-icon></v-btn>
                            <span>Add Character</span>
                        </v-tooltip>
                        <v-tooltip right>
                            <v-btn slot="activator" rounded small color="red" dark @click="Disconnect()"><v-icon>pan_tool</v-icon></v-btn>
                            <span>Disconnect</span>
                        </v-tooltip>
                    </div>
                    <div id="FiveZ_Character_Body">
                        <v-container grid-list-xs>
                            <v-layout row wrap>
                                <v-flex xs4 v-for="(character, charIndex) in Characters" :key="charIndex">
                                    <v-card dark>
                                        <v-card-title primary-title>
                                            {{ character.FirstName }} {{ character.LastName }}
                                        </v-card-title>
                                        <v-card-text>
                                            <span>Gender: {{ Genders[character.Gender] }}</span>
                                        </v-card-text>
                                        <v-card-actions>
                                            <v-btn color="green" block :loading="Updating" @click="SelectCharacter(character.Id)"><v-icon>check</v-icon></v-btn>
                                            <v-btn color="red" block :loading="Updating" @click="DeleteCharacter(character.Id)"><v-icon>delete</v-icon></v-btn>
                                        </v-card-actions>
                                    </v-card>
                                </v-flex>
                            </v-layout>
                        </v-container>
                        <v-dialog v-model="ShowCreator" width="25%" persistent no-click-animation>
                            <v-card>
                                <v-card-title style="background-color: #636e72; color: white;">New Character</v-card-title>
                                <v-card-text>
                                    <v-form v-model="NewCharacterValid" ref="creatorform">
                                        <v-text-field v-model="NewCharacterData.FirstName" label="First Name" :rules="NewCharacterFormRules.NameRules" :counter="20"></v-text-field>
                                        <v-text-field v-model="NewCharacterData.LastName" label="Last Name" :rules="NewCharacterFormRules.NameRules" :counter="20"></v-text-field>
                                        <v-radio-group v-model="NewCharacterData.Gender" :rules="NewCharacterFormRules.GenderRules">
                                            <v-radio label="Male" value="0"></v-radio>
                                            <v-radio label="Female" value="1"></v-radio>
                                        </v-radio-group>
                                    </v-form>
                                </v-card-text>
                                <v-card-actions>
                                    <v-btn color="red" dark @click="CloseCreator()"><v-icon>cancel</v-icon></v-btn>
                                    <v-spacer></v-spacer>
                                    <v-btn color="green" dark @click="CreateCharacter()"><v-icon>check</v-icon></v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                    </div>
                </div>
            </v-content>
        </v-app>

		<!-- Script Libraries -->
		<script src="./assets/libraries/vue.min.js"></script>
		<script src="./assets/libraries/vuetify.min.js"></script>
		<script src="./assets/libraries/axios.min.js"></script>
		<!-- Scripts -->
		<script src="./scripts/listener.js"></script>
		<script src="./scripts/character.js"></script>
	</body>
</html>