<style>
	#FiveZ_Character {
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.4);
	}

	#FiveZ_Character_Base {
		position: absolute;
		width: 75%;
		height: 75%;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	#FiveZ_Character_Header {
		text-align: center;
		font-size: 30px;
		font-weight: bold;
		color: white;
	}

	#FiveZ_Character_Body {
		
	}
</style>

<!-- Character App -->
<v-app id="FiveZ_Character" v-show="ShowMenu">
	<v-content>
		<div id="FiveZ_Character_Base">
			<div id="FiveZ_Character_Header">
				FiveZ<div style="font-size: 9px; font-weight: bold; font-family: Verdana; color: lightblue;">Scripted by Xander1998</div>
				<br />
				<v-tooltip left>
					<v-btn slot="activator" rounded small color="orange" dark @click="ShowCreator = !ShowCreator"><v-icon>add</v-icon></v-btn>
					<span>Add Character</span>
				</v-tooltip>
				<v-tooltip right>
					<v-btn slot="activator" rounded small color="red" dark @click="Disconnect()"><v-icon>pan_tool</v-icon></v-btn>
					<span>Disconnect</span>
				</v-tooltip>
			</div>
			<div id="FiveZ_Character_Body">
				<v-container grid-list-xs>
					<v-layout row wrap>
						<v-flex xs4 v-for="(character, charIndex) in Characters" :key="charIndex">
							<v-card dark>
								<v-card-title primary-title>
									{{ character.FirstName }} {{ character.LastName }}
								</v-card-title>
								<v-card-text>
									<span>Gender: {{ Genders[character.Gender] }}</span>
								</v-card-text>
								<v-card-actions>
									<v-btn color="green" block :loading="Updating" @click="SelectCharacter(character.Id)"><v-icon>check</v-icon></v-btn>
									<v-btn color="red" block :loading="Updating" @click="DeleteCharacter(character.Id)"><v-icon>delete</v-icon></v-btn>
								</v-card-actions>
							</v-card>
						</v-flex>
					</v-layout>
				</v-container>
				<v-dialog v-model="ShowCreator" width="25%" persistent no-click-animation>
					<v-card>
						<v-card-title style="background-color: #636e72; color: white;">New Character</v-card-title>
						<v-card-text>
							<v-form v-model="NewCharacterValid" ref="creatorform">
								<v-text-field v-model="NewCharacterData.FirstName" label="First Name" :rules="NewCharacterFormRules.NameRules" :counter="20"></v-text-field>
								<v-text-field v-model="NewCharacterData.LastName" label="Last Name" :rules="NewCharacterFormRules.NameRules" :counter="20"></v-text-field>
								<v-radio-group v-model="NewCharacterData.Gender" :rules="NewCharacterFormRules.GenderRules">
									<v-radio label="Male" value="0"></v-radio>
									<v-radio label="Female" value="1"></v-radio>
								</v-radio-group>
							</v-form>
						</v-card-text>
						<v-card-actions>
							<v-btn color="red" dark @click="CloseCreator()"><v-icon>cancel</v-icon></v-btn>
							<v-spacer></v-spacer>
							<v-btn color="green" dark @click="CreateCharacter()"><v-icon>check</v-icon></v-btn>
						</v-card-actions>
					</v-card>
				</v-dialog>
			</div>
		</div>
		<!-- TOO MANY CHARACTERS ERROR -->
		<!--<v-snackbar v-model="ShowMaxCharacters" :bottom="true" :multi-line="true" :timeout="6000">TESTING SNACKS</v-snackbar>-->
	</v-content>
</v-app>